
body{
    background: #373632;
    text-justify: auto;
}
.question{
    font-weight: 400;
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    align-text: left;
}
.answers {
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-bottom: 20px;
    margin-top: 10px;
    color: white;
    align-text: left;
}
.answers label{
    display: flex;
}
#submit{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 10px;
    background-color: #eea236;
    color: #fff;
    border: 0px;
    text-align: center;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

#submit:hover{
    background-color: #a36a18;
}
